In [1]:
import pandas as pd

In [2]:
trial3data = pd.read_csv('trial3_data.csv', low_memory=False)

In [4]:
trial3data.head()

,Patient_ID,Health_Camp_ID,Var1,Var2,Var3,Var4,Var5,target,day,month,...,Category2_D,Category2_E,Category2_F,Category2_G,Category3_1,Category3_2,Online_Follower,first_interaction_day,first_interaction_month,first_interaction_year
0,489652,6578,4,0,0,0,2,1.0,10,9,...,0.0,0.0,0.0,1.0,0.0,1.0,0,6,12,2004
1,507246,6578,45,5,0,0,7,0.0,18,8,...,0.0,0.0,0.0,1.0,0.0,1.0,0,8,9,2004
2,491371,6578,0,0,0,0,0,0.0,24,7,...,0.0,0.0,0.0,1.0,0.0,1.0,0,4,3,2003
3,485995,6578,0,0,0,0,0,1.0,1,10,...,0.0,0.0,0.0,1.0,0.0,1.0,0,30,9,2005
4,511519,6578,0,0,0,0,0,1.0,26,9,...,0.0,0.0,0.0,1.0,0.0,1.0,0,19,9,2005